body {
    max-width: 50%;
    margin: auto;
    height: 150vh;

    --espai-vertical: 10px;
}

h1 {
    color: violet;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    margin: 0;

}

h2 {
    margin: 0;
}

header {
    background-color: #4b4b4d;
    background-image: url('../images/fondo-cabecera.jpg');
    height: 5%;
    margin: var(--espai-vertical) 0 var(--espai-vertical) 0;
    padding: 20px;
    overflow: hidden;
}

header img {
    width: 150px;
    border-radius: 8px;
    float: left;
    padding: 0 2px 0 2px;
}

header div {    
    float: right;
}

header div img {    
    width: 30px;
    border-radius: 50%;
}

nav {    
    height: 3%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    background-color: #97989a;
    width: 19.6%;
    float: left;
    margin: 0 0.2% 0 0.2%;
    text-align: center;    
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.1em;
}

#destacats {
    height: 15%;
    background-color: #858688;    
    margin: var(--espai-vertical) 0 var(--espai-vertical) 0; 
    overflow: hidden;
}

#destacats ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#destacats ul li{
    background-color: #858688;
    width: 32.9%;
    margin: 0 0.2% 0 0.2%;
    float: left;
}

#destacats ul li img{  
    width: 100%;
    
}

#destacats ul li h3{  
    margin-top: -90%;
    font-size: 2em;
    text-align: center;  
}

#destacats ul li a{     
    color: white;
    background-color: tomato;
    padding: 5px 10px;
    text-decoration: none;
    border-radius:10px; 
    overflow: hidden;
    
    margin: 0 0 0 5px; 
}

#destacats ul li.first {
    margin: 0 0 0 0.2%;
}

#destacats ul li.last {
    margin: 0 0.2% 0 0 ;
}

main {    
    height: 50%;
    background-color: #4b4b4d; 
    overflow: hidden;   
}

#secc-central{
    width: 50%;
    float: left;   
}

main section { 
    background-color: #858688;
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;   
}

main article {    

}

main article h2 {
    color: yellow;
    clear: both;
    margin-left: 10px;
}

main article p {
    color: cyan;
    margin: 0;
}

main article a {
    color: white;
    background-color: tomato;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10px; 
    overflow: hidden;
    
    float: right;
    margin: 0 5px 20px 0;    
}

main article img {
    width: 50px;
    float: left;  
    margin: 0 5px 0 5px;
    border-radius: 8px;
}

footer {
    
    color: white;
    text-align: center;
    background-color: #4b4b4d;
    height: 5%; 
    margin: var(--espai-vertical) 0 var(--espai-vertical) 0; 

    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: white;
}